*{
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: #000;
    margin: 20vh auto;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0 20px 30px #000;

    
}

.container-items{
    overflow: hidden;
    display: flex;
    width: 50vw;
    height: 50vh;
    position: absolute;
    border-radius: 10px;
    transition: all 0.2s;
}
.item{
    width: 50vw;   
}
.item :first-child{
    margin-left: -100%; 
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    background-size: cover;
}

.action-button{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    z-index: 1;
    user-select: none;
    opacity: 0.1;
 
}
.action-button:hover{
    opacity: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 10x;
    cursor: pointer;
    transition: all 1s;
}